/* General body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Styling for the blog page container */
.blogPageContainer {
  margin: 0 auto;
  margin-top: 18px;
  width: 80%;
  padding: 20px;
  border-radius: 8px;
}

/* Heading styling */
.blogPageContainer h1 {
  font-size: 36px;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Unordered list styling */
.blogPageContainer ul {
  list-style-type: none;
  padding: 0;
}

/* List item styling */
.blogPageContainer ul li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
}

/* Link styling for blog post titles */
.blogPageContainer ul li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

/* Hover effect for blog post links */
.blogPageContainer ul li a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* Date styling */
.blogPageContainer ul li span {
  font-size: 14px;
  color: #777;
}

.postContainer {
  max-width: 850px;
  margin: auto;
  padding:20px;
}
.postContainer h1 {
  text-align: start;
  font-size: 32px;
}

.postContainer h1,
.postContainer h2,
.postContainer h3,
.postContainer h4,
.postContainer h6,
.postContainer p {
  margin: 12px 0px;
}

.postContainer p {
  font-size: 18px;
  line-height: 21px;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
}
