---
layout: "page"
---

<!DOCTYPE html>
<html>
  <head>
    <script
      async
      src="https://cdn.fuseplatform.net/publift/tags/2/3025/fuse.js"
    ></script>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=0.5, user-scalable=yes"
    />
    <title>Receiptify</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
  </head>
  <body>
    <div id="content"></div>

    <div class="page-container">
      <div class="content-container">
        <div class="container">
          <!-- <div class="temp sticky" id="home_vrec_1"></div> -->
          <div id="login">
            <div class="header-section">
              <div class="row">
                <div class="col-12">
                  <h1>Receiptify</h1>
                  <h2>Top Track Generator</h2>
                </div>
                <div class="row flex-center btns">
                  <div class="col-12 col-md-4">
                    <a href="#" class="login-btn" id="spotify-login-btn"
                      >Log in with Spotify</a
                    >
                  </div>
                  <div class="col-12 col-md-4">
                    <a href="/lastfm" class="login-btn lastfm">Last.fm</a>
                  </div>
                </div>
              </div>
              <div class="row toolContainer">
                  <a href="/spotify-playlist-name-generator" class="tool-btn">Spotify Playlist Name Generator</a>
                  <a href="/generation-calculator" class="tool-btn">Generation Calculator</a>
                  <a href="/band-name-generator" class="tool-btn">Band Name Generator</a>
                  <a href="/spotify-playlist-analyzer" class="tool-btn">Spotify Playlist Analyzer</a>
                  <a href="/playlist-finder" class="tool-btn">Playlist Finder</a>
                  <a href="/song-finder-by-lyrics" class="tool-btn">Song Finder by Lyrics</a>
              </div>
            </div>
          </div>
          <div id="loggedin">
            <div class="main-body">
              <div class="receipt-wrapper">
                <div id="receipt"></div>
                <div id="start-searching">
                  Search for an album to view receipt
                </div>
              </div>
              <div class="customize">
                <div class="mobile-ad">
                  <div id="home_header"></div>
                </div>
                <p class="customize-header">Customize Receipt</p>
                <p>Metric</p>
                <form
                  class="form-group"
                  role="group"
                  aria-label="Top track type selection"
                  id="top-type"
                >
                  <select
                    class="form-select"
                    name="type-select"
                    id="type-select-dropdown"
                    autocomplete="off"
                  >
                    <option value="tracks" selected>Top Tracks</option>
                    <option value="artists">Top Artists</option>
                    <option value="genres">Top Genres</option>
                    <option value="stats">Stats</option>
                    <option value="show-search">Search Albums</option>
                    <option value="build-receipt">
                      Build Custom Receipt [NEW]
                    </option>
                  </select>
                </form>

                <!-- Time Period Selection -->
                <p id="options-header">Time Period</p>
                <form
                  class="btn-group"
                  role="group"
                  aria-label="Time period selection"
                  id="options"
                >
                  <input
                    type="radio"
                    class="btn-check"
                    name="period-select"
                    id="short_term"
                    autocomplete="off"
                    checked
                    value="short_term"
                  />
                  <label class="btn btn-outline-secondary" for="short_term"
                    >Last Month</label
                  >

                  <input
                    type="radio"
                    class="btn-check"
                    name="period-select"
                    id="medium_term"
                    autocomplete="off"
                    value="medium_term"
                  />
                  <label class="btn btn-outline-secondary" for="medium_term"
                    >Last 6 Months</label
                  >

                  <input
                    type="radio"
                    class="btn-check"
                    name="period-select"
                    id="long_term"
                    autocomplete="off"
                    value="long_term"
                  />
                  <label class="btn btn-outline-secondary" for="long_term"
                    >All Time</label
                  >
                </form>

                <!-- Mode Selection (Normal and Brat Edition) -->
                <p id="mode-header">Mode</p>
                <form
                  class="btn-group"
                  role="group"
                  aria-label="Length selection"
                  id="mode-options"
                >
                  <input
                    type="radio"
                    class="btn-check"
                    name="mode-select"
                    id="normal_mode"
                    autocomplete="off"
                    checked
                    value="normal"
                  />
                  <label class="btn btn-outline-secondary" for="normal_mode"
                    >Normal</label
                  >

                  <input
                    type="radio"
                    class="btn-check"
                    name="mode-select"
                    id="brat_mode"
                    autocomplete="off"
                    value="brat_edition"
                  />
                  <label for="brat_mode" class="btn btn-outline-secondary"
                    >Brat Editon</label
                  >
                </form>

                <!-- Length Selection -->
                <p id="num-header">Length</p>
                <form
                  class="btn-group"
                  role="group"
                  aria-label="Length selection"
                  id="num-options"
                >
                  <input
                    type="radio"
                    class="btn-check"
                    name="num-select"
                    id="ten-tracks"
                    autocomplete="off"
                    checked
                    value="ten"
                  />
                  <label class="btn btn-outline-secondary" for="ten-tracks"
                    >Top 10</label
                  >

                  <input
                    type="radio"
                    class="btn-check"
                    name="num-select"
                    id="fifty-tracks"
                    autocomplete="off"
                    value="fifty"
                  />
                  <label for="fifty-tracks" class="btn btn-outline-secondary"
                    >Top 50</label
                  >
                </form>

                <!-- Font Selection -->
                <p id="font-header">Font</p>
                <form
                  class="btn-group"
                  role="group"
                  aria-label="Font selection"
                  id="font-options"
                >
                  <input
                    type="radio"
                    class="btn-check"
                    name="font-select"
                    id="classic"
                    autocomplete="off"
                    checked
                    value="classic"
                  />
                  <label class="classic btn btn-outline-secondary" for="classic"
                    >CLASSIC</label
                  >

                  <input
                    type="radio"
                    class="btn-check"
                    name="font-select"
                    id="international"
                    autocomplete="off"
                    value="international"
                  />
                  <label
                    for="international"
                    class="international btn btn-outline-secondary"
                  >
                    INTERNATIONALLY COMPATIBLE
                    <span class="new-feature">NEW</span>
                  </label>
                </form>

                <!-- Search Section -->
                <form
                  class="btn-group"
                  role="group"
                  aria-label="Album search"
                  id="search-form"
                >
                  <input
                    type="text"
                    id="custom-name"
                    placeholder="Receipt title"
                  />
                  <input
                    type="text"
                    id="searchBox"
                    placeholder="Search for an album or track"
                  />
                  <div id="searchResult"></div>
                </form>

                <!-- Explanation Section -->
                <div id="explanation">
                  <p class="customize-header explanation-header">
                    Receipt Explained
                  </p>
                  <div id="definitions"></div>
                </div>

                <!-- Track Edit Section -->
                <div id="track-edit">
                  <p class="customize-header explanation-header">Tracklist</p>
                </div>
              </div>
            </div>
          </div>
          <br />
        </div>

        <script id="user-profile-template" type="text/html">
          <div class="receiptContainer">
            <h2 class="logo">{{receiptTitle}}</h2>
            <p class="period">{{period}}</p>
            <p class="date">ORDER #000{{num}} FOR {{name}}</p>
            <p class="date">{{time}}</p>
            <table class="tracks">
              <thead>
                <tr>
                  <td class="begin">QTY</td>
                  <td>ITEM</td>
                  <td class="length">AMT</td>
                </tr>
              </thead>
              <tbody>
                {{#each tracks}}
                <tr>
                  <td class="begin">{{id}}</td>
                  <td class="name">
                    {{#if url}}
                    <a href="{{url}}" target="_blank">{{name}} {{artists}}</a>
                    {{else}}
                    <p>{{name}} {{artists}}</p>
                    {{/if}}
                  </td>
                  <td class="length">{{duration_ms}}</td>
                </tr>
                {{/each}}
                <tr class="total-counts">
                  <td colspan="2">ITEM COUNT:</td>
                  <td>{{itemCount}}</td>
                </tr>
                <tr class="total-counts-end">
                  <td colspan="2">TOTAL:</td>
                  <td>{{total}}</td>
                </tr>
              </tbody>
            </table>
            <p class="date">CARD #: **** **** **** 2024</p>
            <p class="date">AUTH CODE: 123421</p>
            <p class="date">CARDHOLDER: {{name}}</p>
            <div class="thanks">
              <p>THANK YOU FOR VISITING!</p>
              <img src="/assets/img/barcode.png" />
              <p class="website">receiptifyspotify.github.io</p>
              <img src="/assets/img/Spotify_Logo_RGB_Black.png" />
            </div>
          </div>
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
        <script src="/assets/js/dom-to-image.min.js"></script>
        <script src="/assets/js/FileSaver.min.js"></script>

        <script
          src="https://js-cdn.music.apple.com/musickit/v3/musickit.js"
          data-web-components
          async
        ></script>
        <script src="/assets/js/server.js"></script>
      </div>
    </div>
  </body>
</html>
